<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="Content-Security-Policy"
			content="default-src 'self'; img-src https://*;  style-src https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css;	 " />
		<title>MoneyTracker</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	</head>

	
	<body class="bg-secondary text-white">
	<div th:replace="template :: navbar">...</div>
    <br>
	<h1 class="text-center">Warning!</h1>
	<hr>
    <br><br><br>
    <h2 class="text-center">Si è verificato un errore!</h2>
</body>

</html>