<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="Content-Security-Policy"
			content="default-src 'self'; img-src https://*;  style-src https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css;	 " />
		<title>MoneyTracker</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	</head>

	<body class="bg-secondary text-white">
	<h1 class="text-center">Benvenuto in MoneyTracker!</h1>
	<hr>


	<div class="text-center">
		<img src="https://image.spreadshirtmedia.net/image-server/v1/mp/products/T1459A839PA4459PT28D185245457W10000H10000/views/1,width=550,height=550,appearanceId=839,backgroundColor=F2F2F2/stonks-adesivo.jpg"
			alt="logo">
	</div>
	&nbsp;
	<div class="container my-2">
		<a th:href="@{/home}" class="btn btn-primary btn-lg btn-block">Accedi</a>
	</div>
</body>

</html>