<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy"
        content="default-src 'self'; img-src https://*;  style-src https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css;	 " />
    <title>MoneyTracker</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body class="bg-secondary text-white">
    <div th:replace="template :: navbar">...</div>
    <br>
    <h1 class="text-center">Lista Richieste Modifica </h1>
    <hr>
    <div class="container my-2">
        <!-- Refresh Button -->
        <a th:href="@{/listaModificheAdmin}" class="btn btn-primary float-right">&#8634</a>
    </div>
    <br><br>
    <div class="container my-2">
        <table class="table table-hover ">
            <thead>
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        Importo
                    </th>
                    <th>
                        Data
                    </th>
                    <th>
                        Descrizione
                    </th>
                    <th>
                        ID
                    </th>
                    <th>
                        Importo
                    </th>
                    <th>
                        Data
                    </th>
                    <th>
                        Descrizione
                    </th>
                    <th>Actions

                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="modifica: ${lista_modifiche}">
                    <td  th:text="${modifica.id_modifica}">
                    <td  th:text="${modifica.totale_modifica}">
                    <td  th:text="${modifica.data_modifica}">
                    <td  th:text="${modifica.descrizione_modifica}">
                    <td class="bg-info" th:text="${modifica.id_spesa}">
                    <td class="bg-info" th:text="${modifica.totale_spesa}">
                    <td class="bg-info" th:text="${modifica.data_spesa}">
                    <td class="bg-info" th:text="${modifica.descrizione_spesa}">

                    <td>
                        <form th:action="@{/accettaModifica/{id}(id=${modifica.id_modifica})}" method="post">
                            <input type="submit" value="&#10004" class="btn btn-success" />
                        </form>
                    </td>
                    <td>
                        <form th:action="@{/rifiutaModifica/{id}(id=${modifica.id_modifica})}" method="post">
                            <input type="submit" value="&#10060" class="btn btn-danger" />
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="container my-2">       
        <div th:if="${errore_conflitto_modifica}">
            <h3 class="text-center text-warning">Impossibile processare modifica: conflitto matricola!</h3>
        </div>
   
</div>


</body>

</html>