<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Security-Policy"
            content="default-src 'self'; img-src https://*;  style-src https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css;	 " />
        <title>MoneyTracker</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>

    <body class="bg-secondary text-white">
    <div th:replace="template :: navbar">...</div>
    <br>
    <h1 class="text-center">Lista Spese Totali </h1>
    <hr>
   

    <div class="container my-2">
        <div class="row">
            <div class="col-md-4">
               <h3> N. Spese : <td th:text="${contatore}"></h3>
            </div>
            <div class="col-md-7">
              <h3> Totale spesa (€): <td th:text="${saldo}"></h3> 
            </div>
            <a th:href="@{/listaSpeseAdmin}" class="btn btn-primary float-right">&#8634</a>
        </div>
    </div>

    <div class="container my-2">
        <table  class="table table-striped table-responsive-md">
            <thead>
                <tr>
                    <th>
                        ID Spesa
                    </th>
                    <th>
                        Importo(€)
                    </th>
                    <th>
                        Data
                    </th>
                    <th>
                        Matricola
                    </th>
                    <th>
                        Descrizione
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
                <tr th:each="spesa: ${lista_spese}">
                    <td th:text="${spesa.id}" >
                    <td th:text="${spesa.totale}" >
                    <td th:text="${spesa.data}" >
                    <td th:text="${spesa.matricola}" >
                    <td th:text="${spesa.descrizione}" >
                    <td>
                    <form th:action="@{/cancellaSpesa/{id}(id=${spesa.id})}" method="post">
                        <input type="submit" value="&#10060" class="btn btn-danger" />
                    </form>
                    </td>
                </tr>
        </table>
    </div>

    <div class="container my-2">
        <div th:if="${error_modifica_pending}">
            <h3 class="text-center text-warning">Sono presenti modifiche in sospeso per la spesa selezionata!</h3>
        </div>
        
    </div>
</body>

</html>